<%= @results.size %> results in <%= @elapsed %> ms
<%= @divs %> <%= @f %>
<!-- Search form -->
<%= form_tag controller: "search", action: "index" do %>
  <%= search_field_tag :search, params[:search] %>

  <h4 style="margin: 0px">Semester</h4>
  <%= check_box_tag :fall, "1", pre_fall %><%= label_tag :fall, "Fall" %>
  <%= check_box_tag :spring, "1", pre_spring %><%= label_tag :spring, "Spring" %>  

  <h4 style="margin: 0px">Division</h4>
  <% [1, 2, 3].each do |div| %>
  <%= check_box_tag div %><%= label_tag div, div %>
  <% end %>

  <h4 style="margin: 0px">Distribution</h4>
  <% [:q, :w, :d].each do |dist| %>
  <%= check_box_tag dist %><%= label_tag dist, dist.to_s.capitalize %>
  <% end %>

  <h4 style="margin: 0px">Attributes</h4>
  <%= select_tag :attrs, options_for_select(Attr.all.map{|a| a.name}), include_blank: true, multiple: true %>

  <br>
  <%= submit_tag "Search" %>
<% end %>


<% if @results %>
  <% @results.each do |course, score| %>
  <div style="background: #AB78CC;  padding: 5px; margin: 10px;">
    <span style="background: gray;">    
      <%= score %>
      <%= course.primary_department.abbreviation %> 
      <%= course.number %> 
      <%= course.title %>
    </span>
    <div>
      <span>
        <%= course.professors.map{ |prof| prof.name }.to_set.to_a.join(", ") %>
      </span>
      <p><%= course.description %></p>
    </div>
  </div>
  <% end %>
<% end %>
