<%= Course.count %> courses across 
<%= Section.count %> sections and 
<%= Professor.count %> professors

<!-- Search form -->
<%= form_tag controller: "home", action: "index" do %>
  <%= search_field_tag :search, params[:search] %>

  <h4 style="margin: 0px">Semester</h4>
  <%= check_box_tag :fall, "Fall", @pre_fall %><%= label_tag :fall, "Fall" %>
  <%= check_box_tag :spring, "Spring", @pre_spring %><%= label_tag :spring, "Spring" %>  

  <h4 style="margin: 0px">Distribution</h4>
  <%= check_box_tag :q %><%= label_tag :q, "Q" %> 
  <%= check_box_tag :w %><%= label_tag :w, "W" %> 
  <%= check_box_tag :d %><%= label_tag :d, "D" %> 

  <h4 style="margin: 0px">Attributes</h4>
  <%= select_tag :attrs, options_for_select(Attr.all.map{|a| a.name}), include_blank: true, multiple: true %>

  <br>
  <%= submit_tag "Search" %>
<% end %>


<% if @hits %>
  <% @hits.each do |hit, course| %>
  <div style="background: #AB78CC;  padding: 5px; margin: 10px;">
    <span style="background: gray;">    
      <%= hit.score %>
      <%= course.primary_department.abbreviation %> 
      <%= course.number %> 
      <%= course.title %>
    </span>
    <div>
      <span>
        <%= course.professors.map{ |prof| prof.name }.to_set.to_a.join(", ") %>
      </span>
      <p><%= course.description %></p>
    </div>
  </div>
  <% end %>
<% end %>